///////////////
// VARIABLES //
///////////////

$light-blue: #3399cc
$dark-blue: #003366
$background: #ffffcc
$overlay: rgba(255, 204, 201, 0.50)
$title-font: 'Rock Salt', cursive
$heading: 'Sniglet', cursive
$paragraph: 'Mandali', sans-serif

////////////////
// BACKGROUND //
////////////////

body
  background: url("../images/white-wall.jpg") repeat center

////////////
// BANNER //
////////////

#banner
  padding: 30px

  #banner-container
    text-align: center

    img#headshot
      width: 300px
      margin: 30px 30px 20px
      box-shadow: 0 15px 20px rgba(51, 51, 51, 0.50)
      border-radius: 200px

      @media only screen and (max-width: 769px)
        width: 250px
        margin: 20px 20px 15px

      @media only screen and (max-width: 480px)
        width: 200px
        margin: 10px

    h1
      font-family: $title-font
      font-size: 72px
      line-height: 100px
      color: $light-blue
      margin: 30px
      text-shadow: 0 10px 10px rgba(51, 51, 51, 0.50)

      @media only screen and (max-width: 769px)
        font-size: 60px
        line-height: 90px
        margin: 20px

      @media only screen and (max-width: 601px)
        font-size: 48px
        line-height: 72px
        margin: 15px

      @media only screen and (max-width: 480px)
        font-size: 42px
        line-height: 56px
        margin: 15px

      @media only screen and (max-width: 400px)
        font-size: 30px
        line-height: 48px

  @media only screen and (max-width: 769px)
    padding: 15px

  @media only screen and (max-width: 601px)
    padding: 10px

///////////
// ABOUT //
///////////

#about
  padding: 0px 30px 30px

  #about-container
    background: white
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.75)
    padding: 30px
    max-width: 1200px
    margin: 0 auto
    overflow: auto

    @media only screen and (max-width: 769px)
      padding: 20px

    @media only screen and (max-width: 601px)
      padding: 15px

    #about-heading
      text-align: center
      color: $light-blue
      font-family: $heading
      font-size: 48px
      margin: 0
      margin-bottom: 30px

      @media only screen and (max-width: 769px)
        font-size: 30px

      @media only screen and (max-width: 601px)
        font-size: 24px
        margin-bottom: 5px

      @media only screen and (max-width: 480px)
        font-size: 20px

      @media only screen and (max-width: 400px)
        font-size: 18px

      @media only screen and (max-width: 350px)
        font-size: 14px

    .about-paragraph
      font-family: $paragraph
      font-size: 18px
      line-height: 24px
      color: $dark-blue
      margin: 0
      margin-top: 15px

      @media only screen and (max-width: 769px)
        font-size: 16px
        line-height: 21px

      @media only screen and (max-width: 480px)
        font-size: 14px
        line-height: 20px

      @media only screen and (max-width: 400px)
        font-size: 12px
        line-height: 16px


  @media only screen and (max-width: 769px)
    padding: 15px

  @media only screen and (max-width: 601px)
    padding: 10px

/////////////
// CONTACT //
/////////////

#contact
  padding: 0 30px 30px

  #contact-container
    background: $dark-blue
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.75)
    padding: 30px
    max-width: 630px
    margin: 0 auto
    overflow: auto
    text-align: center

    @media only screen and (max-width: 769px)
      padding: 30px
      max-width: 500px

    @media only screen and (max-width: 601px)
      padding: 20px
      max-width: 300px

    #contact-heading
      color: white
      font-family: $heading
      font-size: 48px
      margin: 0
      margin-bottom: 30px

      @media only screen and (max-width: 769px)
        font-size: 48px
        margin-bottom: 20px

      @media only screen and (max-width: 601px)
        font-size: 30px
        margin-bottom: 10px

    a, a:visited
      color: white
      display: block
      font-family: $paragraph
      font-size: 40px
      line-height: 48px
      text-decoration: none
      margin: 0
      margin-top: 30px
      transition: 0.5s linear

      @media only screen and (max-width: 769px)
        font-size: 32px
        line-height: 36px
        margin-top: 20px

      @media only screen and (max-width: 601px)
        font-size: 20px
        line-height: 24px
        margin-top: 10px

    a:hover
      color: $light-blue

  @media only screen and (max-width: 769px)
    padding: 15px

  @media only screen and (max-width: 601px)
    padding: 10px

////////////
// RESUME //
////////////

#resume
  padding: 0 30px 30px

  #resume-container
    background: white
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.75)
    padding: 30px
    max-width: 630px
    margin: 0 auto
    overflow: auto
    font-size: 0
    text-align: center

    @media only screen and (max-width: 769px)
      padding: 30px
      max-width: 500px

    @media only screen and (max-width: 601px)
      padding: 20px
      max-width: 300px

    #resume-heading
      color: $light-blue
      font-family: $heading
      font-size: 48px
      margin: 0
      margin-bottom: 10px

      @media only screen and (max-width: 769px)
        font-size: 48px
        margin-bottom: 0px

      @media only screen and (max-width: 601px)
        font-size: 30px
        margin-bottom: 0px

    a, a:visited
      display: inline-block
      width: 220px
      height: 50px
      margin: 15px 10px 0px
      text-align: center
      text-decoration: none
      box-shadow: 0 3px 5px 0 rgba(51, 51, 51, 0.50)
      font-size: 24px
      font-family: $paragraph

      &:hover
        box-shadow: 0px 6px 10px 0px rgba(51, 51, 51, 0.50)

    .button, .button:visited
      border: $dark-blue solid 5px
      background: white
      color: $dark-blue

    .button-inverse, .button-inverse:visited
      border: $dark-blue solid 5px
      background: $dark-blue
      color: white

  @media only screen and (max-width: 769px)
    padding: 15px 15px 30px

  @media only screen and (max-width: 601px)
    padding: 10px 10px 30px

////////////
// FOOTER //
////////////

footer
  width: 100%
  text-align: center
  height: 60px
  background: $light-blue
  margin: 0
  padding: 0
  overflow: auto

  p
    color: white
    font-family: $paragraph
    font-size: 18px
    line-height: 24px
    margin: 18px 30px

    a, a:visited, a:hover
      color: $dark-blue
      text-decoration: none
